
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito+Sans:wght@200&family=Oswald:wght@200&display=swap');

/* Sobre nosotros html */
.logo {
    width: 100px;
    height: 100px;
}

.nav {
    background-color: #EB9B33;
    font-family: 'Nanum Gothic', sans-serif;
}


.link {
    text-decoration: none;
    color: #5c3100;
    font-size: 1.3em;
    
}

.link:hover {
    color: #3d0a03;
}


.fachada {
    height: 400px;
    width: 400px;
}

h1 {
    font-family: 'Oswald', sans-serif;
}


.sobreN {
    font-size: 1.3em;
    font-family: 'Nunito Sans', sans-serif;
    
}

h2 {
    font-family: 'Oswald', sans-serif;

}
.platos {
    background-color: #ffb24e;
}

.card {
    border-color: rgb(43, 26, 0) !important;
}

.card-body {
    background-color: rgb(240, 211, 149);
}

.btn {
    background-color: rgb(214, 145, 18) !important;
    color: white !important;
}


footer {
    background-color: #2b1a02;
    padding: 30px;
    color: white;
    font-size: 1.3em;
    font-family: 'Nanum Gothic', sans-serif;
}


/* Carrito de compras JS */

.item {
     
    margin: 20px;
    border-radius: 5px;
    border-style: solid ;
    border-width: 1px;
    width: 200px;
    box-shadow: 12px 13px 0px -3px rgba(0, 0, 0, 0.1);
    
}


.img-card {
    width: 100%;
}

.details {
    text-align: center;
    padding: 5px;
    padding-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.buttons {
    display: flex;
    align-items:center ;
    justify-content: center;
    
}

.buttons .fa-solid {
    padding-left: 20px;
    padding-right: 20px;
}

.buttons .fa-minus:hover{
    color: red;
}

.buttons .fa-plus:hover {
    color: green;
}

.misP {
    font-family: 'Oswald', sans-serif;
}


/* Carrito de compras  */

/* cards */

.cart-item {
    
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: black solid 1px 
}
.title-price-x {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
   
    
    
}

.title-price {
    display: flex;
    gap: 10px;
    
    
}
.cart-item .fa-trash {
    color: red;
    
}

.cart-item .buttons {
    
    justify-content: flex-start;
    margin-left: 20px;
}

.precio-total {
    display: flex;
    justify-content: flex-start;
    margin-left: 35px;
    margin-top: 5px;
}

/* botones vaciar carrito y volver */

#boton-carrito {
    border-radius: 3px;
    padding: 7px;
    border-style: none;
    background-color: #ffb24e;
}

.removeAll {
    background-color: black;
    color: white;
    border-radius: 3px;
    margin: 10px;
    padding: 3px;
}

.volver1{
    text-decoration: none;
    margin: 30px;
}
.volver {
    background-color: black;
    color: white;
    border-radius: 3px;
    
    
}


